:root {
  --padding: 20px;
  --infoFontSize: 1em;
}

header {

  text-align: center;
  padding: var(--padding);
  background-color: #2E9AFE;
  color: #FFFFFF;

  & div {
    display: inline-block;
  }

  & .logo, & .name {
    font-size: var(--infoFontSize);
    position: absolute;
    top: var(--padding);
  }

  & .name {
    left: var(--padding);
  }

  & .title {
    font-size: 2em;
    margin-top: var(--infoFontSize);
  }

  & .logo {
    right: 5px;
    top: 10px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  & .logo img {
    height: 4em;
  }

  & .delete-button {
    margin-left: 10px;
    cursor: pointer;
  }
}
