:root {
  --padding: 20px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #848484;
  font-style: italic;
  font-size: 0.8em;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #848484;
  font-style: italic;
  font-size: 0.8em;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #848484;
  font-style: italic;
  font-size: 0.8em;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #848484;
  font-style: italic;
  font-size: 0.8em;
}

.start {
  text-align: center;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  height: 100%;
  min-height: 500px;
  background: url(../img/icon.png) center center;
  background-repeat: no-repeat;
  background-size: auto 100%;

  & input {
    display: block;
    margin: 0px auto;
  }

  & input.margin {
    margin-top: var(--padding);
  }

  & .text-field, & input[type="submit"] {
    background-color: #5BB0FF;
    font-size: 1.4em;
    border: none;
    border-radius: 4px;
    text-align: center;
    box-shadow: none;
  }

  & .text-field {
    padding: 10px;
    color: #045FB4;
    margin-bottom: 3px;
  }

  & input[type="submit"] {
    padding: var(--padding);
    color: #FFF;
  }

  & input[type="submit"]:hover,
  & input[type="submit"]:active,
  & input[type="submit"]:focus {
    box-shadow: inset 0px 1px 10px 0px #000;
  }

  & .git-logo {
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 100px;
    width: 100px;
    box-shadow: 0px 0px 20px #000;
    border-radius: 100px;
  }

  & .git-logo:hover,
  & .git-logo:active,
  & .git-logo:focus {
    box-shadow: 0px 0px 50px #000;
  }

}
